html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe > html {
  overflow: hidden;
}

iframe > html > body > div > div > form {
  min-width: auto;
  width: auto;
}

iframe {
  border: "none";
  height: "373px";
  display: flex;
  margin: auto;
}